* {
    box-sizing: border-box;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background: #262456;
}

.node {
    display: flex;
    flex-direction: column;
    margin: 8px 8px 8px 8px;
}

.person {
    color: white;
    border-radius: 3px;
    border: 1px solid #b4b2e4;
    padding: 8px;
}

.person,
.children {
    display: flex;
    justify-content: center;
}
